/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

nav.navbar {
    background-color: #acd373;
    margin: 0;
/*    display: inline-block;*/
}
.menu {
    text-transform: uppercase;
    color: white;
    text-align: right;
    text-decoration: none;
        
}
/*
.themeat {
    height: 850px;
}
*/
.title {
    text-transform: uppercase;
    text-align: center;
    background: #9abd67;
    color: white;
    
}
.skyline {
    vertical-align: bottom;
    
}

h1 {
    font-size: 20px;
}
h2 {
    color: white;
    font-style: italic;
    font-size: 13px;
    margin-top: 18px;
}
.arrow {
    margin-top: 60px;
}

.themeat {
    max-width: 700px;
}